@font-face {
    font-family: 'Uncut Sans';
    src: url('~/assets/fonts/UncutSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Uncut Sans Medium';
    src: url('~/assets/fonts/UncutSans-Medium.woff') format('woff');
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: 'Uncut Sans Semibold';
    src: url('~/assets/fonts/UncutSans-Semibold.woff') format('woff');
    font-weight: semibold;
    font-style: normal;
}